# Env
.env
.env.local
.env.*.local

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
dist/
*.egg-info/
.pytest_cache/

# Alembic (не трогаем versions/)
backend/alembic/versions/*.pyc

# Node
node_modules/
frontend/dist/
frontend/.vite/

# Docker
postgres_data/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
